<% layout('layouts/boilerplate') -%>


<div id='map'></div>
<!-- create a map -->
<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    var posts = {features: <%- JSON.stringify(posts) %>};
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>